{% extends 'main/base.html' %}

{% block title %}
Информация по строке расхода
{% endblock %}

{% block body %}
<h1> Информация по расходу {{ costdetail.pk }}</h1>

<div>
    <ul>
    <li>
            Кто потратил монеты: {{ costdetail.people_cost.name|capfirst }}</li>

<li> Сколько монет потрачено: {{ costdetail.price|floatformat:1 }} </li>
    </ul>

    <div>
        На кого разделена трата
        <ul>
            {% for pshare in object.people_share.all %}
            <li> {{ pshare.name|capfirst }}</li>
            {% endfor %}
        </ul>
    </div>


</div>


{% endblock %}

